<div class="row">
<div class="col-xs-12">

<div class="info-heading"><h1><strong>{{user.username}}</strong></h1>
    <h3>{{user.firstName}} {{user.lastName}}</h3>
    <h4>{{user.fitness_goal}}</h4>
    <div class="col-xs-2">
    <img src="/images/{{user.username}}.jpg" width="150" height="150"/>
  </div>
</div>
</div>

<!-- Prints out information for each User -->
<!-- {{#each users}} -->
<div class="row">
  <span class="col-xs-1"></span>
  <div class="col-xs-2">
    <img src="/images/{{username}}.jpg" width="150" height="150"/>
  </div>
  <div class="col-xs-9">
  	<h3><a href="/users/{{username}}" style="text-decoration: none;">{{users.username}}</a><h3>
  	<h3>{{user.firstName}} {{user.lastName}}</h3>
  	<h4>{{user.fitness_goal}}</h4>
<!--   	<h4><u>Email</u>: {{email}}</h4>
  	<h4><u>Password</u>: {{password}}</h4> -->
  	<!-- <hr/> -->
  </div>
  <span class="row"></span>
</div>
<!-- {{/each}} -->
