<div class="row">
<div class="col-xs-6 col-centered">
<center><h1><strong>Leaderboards</strong></h1></center>
<!-- </div>
</div> -->

<!-- Prints out information for each User -->

<!-- <div class="row">
  <div class="col-xs-12"> -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th><h4>Username</h4></th>
      <th><h4>Bench Press</h4></th>
      <th><h4>Military Press</h4></th>
      <th><h4>Squat</h4></th>
      <th><h4>Deadlift</h4></th>

    </tr>
  </thead>
  <tbody>
    {{#each stats}}
    <tr>
      <td> {{username}}</td>
      <td> {{bench_press}}</td>
      <td> {{military_press}}</td>
      <td> {{squat}}</td>
      <td> {{deadlift}}</td>


    </tr>
    {{/each}}
  </tbody>
</div>